html {
    position: relative;
    min-height: 100%;
    background: #eeeef5;
    color: #333;
}

body {
    margin: 25px 25px 25px; /* bottom = footer height */
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 80px;
    font-weight: bolder;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: normal;
}

div#question {
    margin-top: 40px;
    margin-bottom: 60px;
}

span.unit {
    font-weight: bold;
    color: #66d;
}

ul#answerList {
    width: 650px;
    margin: auto;
}

li.answer {
    list-style-type: none;
    float: left;
    padding: 25px;
    margin:20px;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    width:200px;
    cursor: pointer;
}

li.answer:hover {
    color: #eeeef5;
    background: #333;
    border-color: #333;
}
