html {
    position: relative;
    min-height: 100%;
    background: #eeeef5;
    color: #333;
}

body {
    margin: 25px 25px 25px; /* bottom = footer height */
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 80px;
    font-weight: bolder;
}

#quiz {
    transition: opacity .4s;
    -moz-transition: opacity .4s;
    -webkit-transition: opacity .4s;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: normal;
}

div#question {
    margin-top: 40px;
    margin-bottom: 60px;
}

span#newUnit {
    font-weight: bold;
    color: #66d;
}

#answerDiv {
    display: inline-block;
    max-width: 644px;
}

ul#answerList {
    margin: 0;
    padding: 0;
}

li.answer {
    list-style-type: none;
    float: left;
    padding: 25px;
    margin:20px;
    border-width: 6px;
    border-style: solid;
    border-radius: 20px;
    border-color: #333;
    width:220px;
    cursor: pointer;

    transition: background .15s;
    -moz-transition: background .15s;
    -webkit-transition: background .15s;
    
    transition: color .15s;
    -moz-transition: color .15s;
    -webkit-transition: color .15s;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li.answer:hover {
    color: #eeeef5;
    background: #333;
}
