html {
    position: relative;
    min-height: 100%;
    background: #eeeef5;
    color: #336;
}

body {
    margin: 25px 25px 25px; /* bottom = footer height */
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 80px;
    font-weight: bolder;
}

#quiz {
    transition: opacity .4s;
    -moz-transition: opacity .4s;
    -webkit-transition: opacity .4s;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: normal;
}

#question {
    margin-top: 40px;
    margin-bottom: 15px;
}

.highlight {
    color: #66d;
}

#answerDiv {
    display: inline-block;
    max-width: 644px;
    margin-top: 15px;
    position: relative;
}

#answerList {
    margin: 0;
    padding: 0;
}

#score {
    font-size: 30px;
    font-weight: normal;
}

li {
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.choice {
    float: left;
    padding: 25px;
    margin:20px;
    border-width: 6px;
    border-style: solid;
    border-radius: 20px;
    border-color: #336;
    width:220px;

    transition: background .15s;
    -moz-transition: background .15s;
    -webkit-transition: background .15s;
    
    transition: color .15s;
    -moz-transition: color .15s;
    -webkit-transition: color .15s;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#next {
    list-style-type: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 70px;
    line-height: 70px;
    margin: -35px 0 0 -150px;

    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
    border-color: #336;
    font-size: 30px;
    font-weight: bold;
    background: #eeeef5;

    transition: opacity .4s;
    -moz-transition: opacity .4s;
    -webkit-transition: opacity .4s;

    opacity: 0;
}

#next:hover {
    color: #eeeef5;
    background: #336;
}

.answered #next {
    cursor: pointer;
    opacity: 1;
}

#quiz:not(.answered) .choice:hover {
    color: #eeeef5;
    background: #336;
    cursor: pointer;
}

.answered .winner {
    background: url("../image/checkmark.svg") no-repeat center center;
    background-size: 140px 140px;
}

.answered .winner.selected {
    background-color: #0b3;
    border-color: #0b3;
}

.answered .winner:not(.selected) {
    background-color: #7da;
    border-color: #7da;
}

.answered .loser {
    background: url("../image/x.svg") no-repeat center center;
    background-size: 140px 140px;
}

.answered .loser.selected {
    background-color: #e34;
    border-color: #e34;
}

.answered .loser:not(.selected) {
    background-color: #eab;
    border-color: #eab;
}